<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TapSearch Project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
        function checkempty(){
            
            if(document.getElementById('textarea_document').value == "") {
                alert("please enter paragraph first");
                return false;
            }

            if(document.getElementById('search_for_word').value == "") {
                alert("please enter word first");
                return false;
            }
            
        }
    </script>


</head>
<body style="background-color:powderblue;">
        <div class="container">
        <h1 text-align="center">TapSearch Project</h1>
        <form action = "/search" method="post" onsubmit="return checkempty()">

            <div class="form-group">
                <label for="textarea_document">Enter text!</label>
                <textarea class="form-control" id="textarea_document" rows="10" cols="10" name="document">
                </textarea>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id = "search_for_word" aria-describedby="emailHelp" placeholder="Search for a word!" name="a_word">
            </div>

            <button type="submit" class="btn btn-dark">Search!</button>

    </form>
    </div>

    <div class="container">

        <form action="/">
            <div class="form-group">
                <hr>
        <button type="submit" class="btn btn-dark">Refresh!</button>

        </div>

    </form>

</body>
</html>