<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

        <div class="container">
        
        {% if length != 0 %}
            <h3> The word "{{search_word}}" is present in :- 
            {% for x in lists %}
                <h3 > Paragraph {{ x }} </h3>
            {% endfor %}
        </h3>
        {% else %}
            <h3> Not found!</h3>
        
        {% endif %}
        
        <strong ><hr size="55"></strong> 

        </div>

        

        <div class="container">

                {% if length != 0 %}
                    <h2> Details</h2>
                    <br>
            

                {% for x in lists %}
                    <h4><i>Paragraph {{ x }} details</i></h4>
                    <h4>{{paragraph_dict[x]}} </h4>
                    <hr>
                {% endfor %}
            
            {% endif %}

    </div>

    <div class="container">

            <form action="/">
                <div class="form-group">
                    <hr>
            <button type="submit" class="btn btn-dark" > Go back </button>
    
            </div>
    
        </form>

</body>
</html>